body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#b8c0ff, #ffafcc);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #ff8fab;
    margin-bottom: 10px;
}

#bday-age {
    background: #ff8fab;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #ff8fab;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-genius {
    height: 200px;
}

#gift-img-badass {
    height: 300px;
}
/*
#gift-img-cheers {
    height: 200px;
}
*/
.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWFtY3I3NGdoMnAwOGtxZ2JkNTlzdDZvZWRuc3ppYWZwc3V2OWdnayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XJ2zjYMDKO7V9uquhz/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWZ4ZXg4MjMxNGR1b2pjZWM4MXh3bjltMnoxMndtazdhcDBtbmR1biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o72FhxujRMcOqUm8o/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWQzb2JsN2lxbmYyc2c3d2JmcjQ1MjlsdGxvNnIzbzZseTJlY3N3aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xULW8y5mI8OZaLyQq4/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmZlY3NvZno1YWJjZDlkMm00Zmw0YXBoczNhNDF6aDE5aDlzMXFmbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QhYFnCKpLg2HtlVrzS/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/